body{

background-image: url("img/orn.png");
background-position: center;
<!--background-size: 100%;-->
background-repeat: repeat-x repeat-y;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%;
}

.original-button {
  display: inline-block;
  align-items: center;
  justify-content: center;
  line-height: 2;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  transition: 0.3s;
  background-color: #1976d2;
}

.original-button:hover {
  opacity: .7;
}